$babypink: #ee98c7;
$grey: rgb(59, 59, 59);
body {
	background-color: rgb(253, 252, 245);
}
h2{
	color: rgb(70, 0, 128);
}
h3, h5, h6{
	color: $grey;
}
.welcome-box {
	width: 100%;
	height: 100vh;
	.slogan {
		width: 100%;
		height: 50%;
		background: url("../img/candy11.jpg");
		background-size: cover;
		background-position: center;
		//background-repeat: space;
		//background-position: 25% 70%;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 68%;
			width: 100%;
			background: url("../img/wave5.svg");
			background-size: cover;
		}
	}
	.general-menu {
		font-family: "Rubik";
		width: 100%;
		height: 35%;
		align-items: top;
		justify-content: space-evenly;
		padding-top: 4rem;
		.ice-cream {
			width: 40%;
			height: fit-content;
			h2 {
				font-weight: bold;
			}
			hr {
				border: 0.1rem dashed grey;
			}
			.ice-box {
				width: 100%;
				.amount {
					align-items: baseline;
					justify-content: space-between;
				}
			}
		}
		.cream-type {
			width: 40%;
			height: fit-content;
			h2 {
				font-weight: bold;
			}
			hr {
				border: 0.1rem dashed grey;
			}
			.cream-box {
				width: 100%;
				.size {
					align-items: baseline;
					justify-content: space-between;
				}
			}
		}
	}
	.addition {
		padding: 1.2rem;
		width: max-content;
		text-align: center;
		font-family: "Nunito Sans";
		border: 0.2rem $babypink solid;
		border-radius: 2rem;
		font-weight: bold;
		.add {
			top: -16px;
			left: 47%;
			background-color: rgb(253, 253, 245);
			color: $babypink;
			text-shadow: rgb(231, 231, 231) 2px -1px 3px;
			font-size: 1.2rem;
		}
		span {
			padding-right: 1rem;
			padding-left: 1rem;
		}
	}
}
.milkshake {
	height: 100vh;
	.imgslogan {
		width: 40%;
		background-image: url("../img/candy9,2.jpg");
		background-size: cover;
		background-position: bottom;
		position: relative;
	}
	.milk-menu {
		width: 45%;
		font-family: "Rubik";
		.normal {
			h2 {
				font-weight: bold;
			}
			hr {
				border: 0.1rem dashed grey;
			}
			.d-flex {
				align-items: left;
				justify-content: space-between;
			}
			.toppers {
				border: $babypink 0.2rem solid;
				border-radius: 2rem;
				padding-top: 1.1rem !important;
				padding-bottom: 0.6rem !important;
				.add {
					font-weight: bold;
					top: -15px;
					left: 35px;
					background-color: rgb(253, 252, 245);
				}
			}
		}
		.special{
			.d-flex {
				align-items: left;
				justify-content: space-between;
			}
			hr {
				border: 0.12rem dashed grey;
			}
			.options{
				align-items: top;
				justify-content: space-between;
				flex-wrap: wrap;
				.option{
					h5{
						font-weight: bold;
					}
					h6{
						color: $babypink;
					}
					width:50%;
				}
			}
		}
	}
}
.treatsndrinks{
	font-family: 'Rubik';
	width:100%;
	height:100vh;
	display:flex;
	align-items: top;
	justify-content: space-between;
	.drinkmenu{
		width:60%;
		.milkyones{
			margin-left:6rem;
			align-items: top;
			justify-content: space-between;
			.treats{
				width: 50%;
				.element{
					align-items: top;
					justify-content: space-between;
				}
				hr {
					border: 0.12rem dashed grey;
				}
			}
			.bottleddrinks{
				margin-left: 5rem;
				width: 50%;
				hr {
					border: 0.12rem dashed grey;
				}
				.element{
					align-items: top;
					justify-content: space-between;
				}
			}
		}
		.colddrinks{
			width:80%;
			margin-left:6rem;
			hr {
				border: 0.12rem dashed grey;
				
			}
			.element{
				align-items: top;
				justify-content: space-between;
			}
		}
	}
	.drinkimg{
		width:40%;
		height:100%;
		background: url("../img/candy8,1.jpg");
		background-size: cover;
	}
}
